<div class="content_search">
  <div class="container-fluid b_space ">
    <div class="row">
      <div class="offset-1 col-7 offset-sm-3 col-sm-4 offset-md-4 col-md-3 offset-lg-4 col-lg-3">
        <img src="assets/img/logo.png" class="rounded mx-auto d-block responsive" alt="Logo">
      </div>
    </div>
    <div class="row">
      <div class="offset-1 col-7 offset-sm-3 col-sm-6 offset-md-3 col-md-6 offset-lg-3 col-lg-6">
        <h1> Gaseste localul potrivit pentru orice ocazie</h1>
      </div>
    </div>
    <div class="row">
      <div class="offset-1 col-7 offset-sm-3 col-sm-4 offset-md-4 col-md-3 offset-lg-4 col-lg-3">
        <input type="input" class="form-control" placeholder="Nume local">
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-outline-secondary w_text">Cauta</button>
      </div>
    </div>
  </div>
</div>